@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./Images/Background.jpg");
    background-size: contain;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

h1 {
    font-size: 4rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-element {
    text-align: center;
}